/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4.8.2014, 14:25:54
    Author     : Tomy
*/

html {
    background-image: url('../images/karneval_bg1.jpg'), url('../images/bg.jpg');
    background-repeat: no-repeat ,repeat-x;
    background-position-x: center;
    background-attachment:fixed;
}