/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.5.2014, 21:40:16
    Author     : Sabre
*/

.transparentAbout{
    background: rgba(200,175, 175, 0.86);
    border: 2px solid rgb(248,216,219);
    border-radius: 3px;
    -webkit-box-shadow: inset 1px 0px 21px 11px rgba(200, 175, 175, 0.86);
    -moz-box-shadow:    inset 1px 0px 21px 11px rgba(200, 175, 175, 0.86);
    box-shadow:         inset 1px 0px 21px 11px rgba(200, 175, 175, 0.86);
}

.transparentCategory{
    background: rgba(200,175, 175, 0.74);
    border: 2px solid rgba(248,216,219,0.8);
    border-radius: 3px;

}

/************ ABOUT US  **************/

.about{

    padding-left:60px;
    padding-right:60px;
    padding-bottom:70px;
    padding-top: 70px;
    margin-top: 60px;
    min-width:330px;
    overflow:auto;
    max-width: 1200px;

}
.about span{
    min-width:700px;
    font-size:18px;
    font-family: sans-serif;
    overflow:auto;
}
/********* CATEGORY ********/
.category{
    min-width:400px;
    min-height:400px;
    max-width:1100px;
    overflow:auto;
}
.category a{
    text-decoration: none;
    color:black;
    font-size:18px;
    font-family: sans-serif;
    text-align:center;
}
.productCategoryGrouped{
    width:384px;
    height:270px;
    padding:10px;
    margin:10px;
    float:left;
    text-align:center;

}

.productCategory{
    width:170px;
    height:270px;
    padding:10px;
    margin:10px;
    float:left;
    text-align:center;
}
.single{
    max-width: 170px;
    max-height:230px;
}

.grouped{
    max-width:390px;
    max-height:230px;
}
.errorDiv{
    text-align:center;
    padding:30px;
    margin-top:30px;
    margin:0 auto;
    font-size:18px;
    font-family: sans-serif;
}


/**********  PRODUCT  **********/

.product{
    margin-top:60px;
    padding:40px;
    min-width:300px;
    max-width:850px;
    overflow:auto;
}
.product h1{
    font-size:22px;
    font-family: sans-serif;
    font-weight: bold;
}
.productPhoto{
    margin-top:10px;
    width:400px;
    float:left;
}
.productPhotoGr{
    margin-top:10px;
    width:720px;
    float:left;
}
.productPhoto img{
    border:10px solid rgb(248,216,219);
    width:400px;
}
.productPhotoGr img{
    width:700px;
    border:10px solid rgb(248,216,219);
}

.productTable{
    float:left;
    width:350px;
    margin-top:50px;
    font-size:18px;
    font-family: sans-serif;
    margin-left:40px;
}
.productTableGr{
    float:left;
    width:800px;
    margin-top:10px;
    font-size:18px;
    font-family: sans-serif;
    
}
.productSelect{
    width:150px;
    padding:2px;
    border-radius:4px;
    font-size:18px;
    font-family: sans-serif;
    background:transparent;
    border:3px solid rgba(255,255,255,0.8);
    
}
.productDescription{
    margin-top:10px;
    float:left;
    width:800px;
    font-size:18px;
    font-family: sans-serif;
     padding-top:10px;
    padding-bottom:10px;
}

.productDescriptionGr{
    margin-top:10px;
    float:left;
    width:800px;
    font-size:18px;
    font-family: sans-serif;
   
    
    padding-top:10px;
    padding-bottom:10px;
}
.pTable tr td{
    padding:3px;
}
.bottomLine{
   border-bottom:1px solid rgb(248,216,219);  
}
.topLine{
  border-top:1px solid rgb(248,216,219);  
}
.pTable{
    width:750px;
    font-size:18px;
    font-family: sans-serif;
}
.pTableSingle{
    font-size:18px;
    font-family:sans-serif;
    width:350px;
}
.pTableSingle tr td{
    padding:3px;
}
.additionalPhotos{
    height:100px;
    width:800px;
    float:left;
    margin-top:5px;
}
.additionalPhotos img{
    height:80px;
    width:60px;
    margin-right:5px;
}
.recommended{
    float:left;
    margin-top:15px;
    width:800px;
    height:200px;
   
}
.recommended div{
    height:200px;
    width:121px;
    float:left;
    margin-right:5px;
    text-align:center;
}
.recommended a{
    text-decoration: none;
    color:black;
     font-size:14px;
     font-weight: bold;
    font-family: sans-serif;
}
.recommendedNadpis{
    font-size:19px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom:5px;
    margin-top:5px;
}
.recTitle{
    float:left;
    width:121px;
}
.recImg{
    float:left;
    margin-right:5px;
}
.recImg img{
    height:160px;
    width:120px;
    
    
}

/*********  REFERENCE ***********/

.reference{
    padding-top: 10px;
    margin-top:30px;
    overflow:auto;
    font-size:18px;
    font-family: sans-serif;
    min-width:300px;
    text-align:center;
    max-width:1000px;
}
.refPhoto{
    min-width:280px;
    height:160px;
    width:160px;
    float:left;
    text-align:center;
    
}
.refPhoto img{
    height:150px;
}
.refText{
    width:60%;
    min-width:300px;
    margin-left:15px;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
       
    
}







/* třída pro skrývání H1 u articlu*/
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

