/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.5.2014, 21:40:16
    Author     : Sabre
*/
table tr td{
    border:1px solid black;
    padding:5px;
}

.transparentAbout{
    background: rgba(200,175, 175, 0.86);
    border: 2px solid rgb(248,216,219);
    border-radius: 3px;
}

.transparentCategory{
    background: rgba(200,175, 175, 0.74);
    border: 2px solid rgba(248,216,219,0.8);
    border-radius: 3px;

}

/************ ABOUT US  **************/
h1{
    font-size:18px;
    font-family: sans-serif;
}
.about{

    padding-left:60px;
    padding-right:60px;
    padding-bottom:70px;
    padding-top: 70px;
    min-width:330px;
    max-width: 1000px;
    margin-right:20px;
    margin-top:450px;
    


}
.about div{
    min-width:300px;
    font-size:18px;
    font-family: sans-serif;
    overflow:auto;
}
/********* CATEGORY ********/
.category{
    min-width:430px;
    min-height:400px;
    max-width:1100px;
    overflow:auto;
    margin-top:60px;
    margin-left:70px;
}
.category a{
    text-decoration: none;
    color:black;
    font-size:18px;
    font-family: sans-serif;
    text-align:center;
}
.productCategoryGrouped{
    width:384px;
    height:270px;
    padding:10px;
    margin:10px;
    float:left;
    text-align:center;
    position: relative;

}

.productCategory{
    width:170px;
    height:270px;
    padding:10px;
    margin:10px;
    float:left;
    text-align:center;
    position:relative;
}
.price{
    position:absolute;
    bottom:2%;
    left:30%;
    width:170px;
    text-align:center;
}
.priceSingle{
    position:absolute;
    bottom:2%;
    left:5%;
    width:170px;
    text-align:center;
}
.single{
    max-width: 170px;
    max-height:230px;
}

.grouped{
    max-width:370px;
    max-height:230px;
}
.errorDiv{
    text-align:center;
    padding:30px;
    margin-top:40%;
    font-size:18px;
    font-family: sans-serif;
    width:1000px;
}

.categoryRadit{
    color:black;
    font-size:20px;
    font-weight:bold;
    width:200px;
    padding:5px;
    float:right;
    margin-top:10px;
    margin-right:80px;
}
.categoryRadit table tr td select{
    width:100px;
}
.categoryRadit table tr td{
    border:0px solid black;
}

/**********  PRODUCT  **********/

.product{
    margin-top:60px;
    margin-left:70px;
    padding-top:20px;
    min-width:300px;
    max-width:800px;
    overflow:auto;
}
.product h1{
    margin-left:40px;
    font-size:32px;
    font-family: sans-serif;
}
.productPhoto{
    margin-top:10px;
    margin-left:25px;
    width:400px;
    float:left;
}
.productPhotoGr{
    margin-top:10px;
    width:800px;
    float:left;
    text-align:center;
}
.productPhoto img{
    border:10px solid rgb(248,216,219);
    min-width:300px;
    max-width:400px;
    max-height:600px;
}
.productPhotoGr img{
    max-width:700px;
    min-width:500px;
    max-height:600px;
    border:10px solid rgb(248,216,219);
}

.productTable{
    float:left;
    width:300px;
    margin-top:50px;
    font-size:18px;
    font-family: sans-serif;
    margin-left:20px;
}

.productTableGr{
    margin-left:25px;
    float:left;
    width:700px;
    margin-top:10px;
    font-size:18px;
    font-family: sans-serif;

}
.productSelect{
    width:150px;
    padding:2px;
    border-radius:4px;
    font-size:18px;
    font-family: sans-serif;
    background:transparent;
    border:3px solid rgba(255,255,255,0.8);

}
.productDescription{
    margin-left:25px;
    margin-top:20px;
    float:left;
    width:700px;
    font-size:18px;
    font-family: sans-serif;
    margin-bottom:30px
}

.productDescriptionGr{
    margin-left:25px;
    margin-top:10px;
    float:left;
    width:700px;
    font-size:20px;
    font-family: sans-serif;
    margin-bottom: 22px;
    padding:8px;



}
.pTable tr td{
    font-size:20px;
    font-family: sans-serif;
    border:0px solid black;
    padding-top:8px;
    padding-bottom:8px;
}

.pTable{
    width:750px;
    font-size:18px;
    font-family: sans-serif;
}
.pTableSingle{
    font-size:18px;
    font-family:sans-serif;
    width:350px;
}
.productLogo{
    background-image:url('../images/logo_product.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;


    width:300px;
    height:100px;
    float:left;
    margin-left:20px;
    margin-top:70px;
}
.pTableSingle tr td{
    font-size:20px;
    font-family: sans-serif;
    border:0px solid black;
    padding-top:12px;
    padding-bottom:12px;
}
.additionalPhotos{
    height:100px;
    width:800px;
    float:left;
    margin-top:5px;
    display:none;
}
.additionalPhotos img{
    height:80px;
    width:60px;
    margin-right:5px;
}
.recommended{
    margin-left:25px;
    float:left;
    width:760px;
    height:200px;

}
.recommended div{
    height:105px;
    width:100px;
    float:left;
    margin-right:5px;
    text-align:center;
}
.recommended a{
    text-decoration: none;
    color:black;
    font-size:14px;
    font-weight: bold;
    font-family: sans-serif;
}
.recommendedNadpis{
    font-size:19px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom:15px;
    margin-top:5px;
    position: relative;
    overflow: hidden;
}
.recommendedNadpis:after{
    display: inline-block;
    content: "";
    height: 2px;
    background: RGBa(150,120,120,0.75);
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -2px;
    margin-left: 10px;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(204, 172, 173,0.75);
    -moz-box-shadow:    0px 2px 1px 0px rgba(204, 172, 173,0.75);
    box-shadow:         0px 2px 1px 0px rgba(204, 172, 173,0.75);
}
.recImg{
    float:left;
    margin-right:5px;
}
.recImg img{
    height:105px;
    width:100px;
}

.scroll-top{
    display:none;
    text-decoration: none;
    text-align: center;
     position:fixed;
    right:2%;
    bottom:4%;
}
.scroll-top span{
    font-size: 40px;
    width:100px;                    
    height:10px;
    padding:25px;
    border:1px solid pink;
}


/*********  REFERENCE ***********/

.reference{
    padding-top: 10px;
    margin-top:30px;
    overflow:auto;
    font-size:18px;
    font-family: sans-serif;
    min-width:300px;
    text-align:center;
    max-width:1000px;
}
.refPhoto{
    min-width:280px;
    height:160px;
    width:160px;
    float:left;
    text-align:center;
}
.refPhoto img{
    height:150px;
}
.refText{
    width:60%;
    min-width:300px;
    margin-left:15px;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
}

/******** SEARCH *********/

.searchCategory{
    overflow:hidden;
    padding:10px;
    max-width:1100px;
    margin-bottom:30px;
    margin-top:30px;
}

.searchCategory span{
    font-size:19px;
    font-family: sans-serif;
}
.searchProduct{
    max-width:1100px;
    margin-top:40px;

}
.searchProduct div{
    margin-bottom:20px;
    max-width:1100px;
    width:100%;
    text-align:center;
}
.searchProduct span{
    height:50px;
    font-size:19px;
    max-width:1100px;
    font-family: sans-serif;
    overflow:hidden;
    padding:10px;

}
.kategorieButton {
    -moz-box-shadow: 1px 3px 13px 1px #c21b53;
    -webkit-box-shadow: 1px 3px 13px 1px #c21b53;
    box-shadow: 1px 3px 13px 1px #c21b53;
    background-color:#c74545;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;
    border:2px solid #941515;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:8px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin:5px;
}
.kategorieButton:hover {
    background-color:#bd2a60;
}
.kategorieButton:active {
    position:relative;
    top:1px;
}






/* třída pro skrývání H1 u articlu*/
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

