/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.7.2014, 17:14:41
    Author     : Tomas
*/

/********************* 
BACKGROUND
*********************/



/* Obrázek roztažený přes celý monitor

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}*/

body{
    font: 16px 'Calibri', sans-serif;
    overflow:auto;
    min-width:850px;
    min-height: 600px;
}
.content{
    margin-bottom:20px;
    margin-top:10px;
    margin-left:380px;
    margin-right:10px;
    min-width:500px;
    min-height:400px;
    border:1px solid rgba(255,255,255,0);
    overflow:hidden;
}
/***********************
HEADER
************************/

header{
    width:230px;
    float:left;
    margin-left:5px;
}
.fixed{
    position: fixed;
}
.relative{
    position:relative;
}
#logo{
    width:200px;
}
#submitsearch{
    background-image:url('../images/admin/search.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    width:25px;
    height:25px;
    color:transparent;
}

/************************
MENU
*************************/

.menuleft ul li {margin:5px;}

.menuleft ul li a {
    background-image:url('../images/button_hlavni_nevybrany.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;

    color: black;
    padding:10px;
    padding-top:18px;
    padding-bottom: 18px;
    font-size: 24px;
    text-decoration: none;
    width:160px;
    display: block;
    text-align: center;

    /*    background-color: gray;
        background: rgb(255, 255, 255);
        background: rgba(255,255, 255, 0.15);*/
    border:0px solid rgba(255,255, 255, 0.22);
}
.menuleft ul li a:hover {
    background-image:url('../images/button_hlavni_vybrany.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;

    color: black;
    padding:10px;
    padding-top:18px;
    padding-bottom: 18px;
    font-size: 24px;
    text-decoration: none;
    width:160px;
    display: block;
    text-align: center;

    /*        background-color: gray;
            background: rgb(255, 255, 255);
            background: rgba(255,255, 255, 0.3);*/
    border:0px solid rgba(255,255, 255, 0.33);
    border-radius:3px;
}
#activeLi1{
    background-image:url('../images/button_hlavni_vybrany.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;

    color: black;
    padding:10px;
    padding-top:18px;
    padding-bottom: 18px;
    font-size: 24px;
    text-decoration: none;
    width:160px;
    display: block;
    text-align: center;  

    border:0px solid rgba(255,255, 255, 0.33);
    border-radius:3px;
}


.menuleft ul li a span{
    text-align: center;
}
/*********************
DROPDOWN MENU
**********************/
.dropdownmenu1-display{display:block;}
.dropdownmenu1{display:none;}
.menuleft ul li:hover ul{display:block;}
.menuleft ul li:hover ul li ul{display:none;}
.dropdownmenu2{display:none;}
.dropdownmenu3{display:none;}
.menuleft ul li ul li:hover ul{display:block;}

.dropdownmenu1{
    margin-left:10px;
}

.dropdownmenu2{
    position:absolute;
    left:200px;
    top:510px;
}
.dropdownmenu3{
    position:absolute;
    left:200px;
    top:50px;
}
.dropdownmenu3-display{
    display:block;
    position:absolute;
    left:200px;
    top:50px;
}
.dropdownmenu2-display{
    display:block;
    position:absolute;
    left:200px;
    top:510px;

}

.menuleft ul li ul li a {
     background-image:url('../images/button_sec_nevybrany.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
    
    color: black;
    padding:10px;
    padding-top:14px;
    padding-bottom: 14px;
    font-size: 16px;
    text-decoration: none;
    border:0px solid rgba(255,255, 255, 0.22);
    width:130px;
    display: block;
    text-align: center;
    
/*     background-color: gray;
    background: rgb(255, 255, 255);
    background: rgba(255,255, 255, 0.15);*/
}
.menuleft ul li ul li a:hover {
   background-image:url('../images/button_sec_vybrany.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
        
    color: black;
    padding:10px;
    padding-top:14px;
    padding-bottom: 14px;
    font-size: 16px;
    text-decoration: none;
    border:0px solid rgba(255,255, 255, 0.33);
    width:130px;
    display: block;
    text-align: center;
/*    
     background: rgb(255, 255, 255);
    background: rgba(255,255, 255, 0.3);*/
}
#activeLi{
    margin-left:20px;
    background-image:url('../images/button_sec_vybrany.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
        
    color: black;
    padding:10px;
    padding-top:14px;
    padding-bottom: 14px;
    font-size: 16px;
    text-decoration: none;
    border:0px solid rgba(255,255, 255, 0.33);
    border-radius:3px;
    width:130px;
    display: block;
    text-align: center;
/*    
     background: rgb(255, 255, 255);
    background: rgba(255,255, 255, 0.3);*/
}
#activeLi2{
    background-image:url('../images/button_sec_vybrany.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
        
    color: black;
    padding:10px;
    padding-top:14px;
    padding-bottom: 14px;
    font-size: 16px;
    text-decoration: none;
    border:0px solid rgba(255,255, 255, 0.33);
    border-radius:3px;
    width:130px;
    display: block;
    text-align: center;
/*    
     background: rgb(255, 255, 255);
    background: rgba(255,255, 255, 0.3);*/
}



/************
FOOTER
***********/

footer{
    position:fixed;
    left:0;
    bottom:0;
    padding:10px;
    color:white;
    font-size:14px;
}